In [ ]:
CREATE TABLE (
    id INT PRIMARY KEY,
    teamName VARCHAR(225)
);

CREATE TABLE score(
    id INT PRIMARY KEY,
    teamid INT,
    userid INT,
    score INT,
    FOREIGN KEY (teamid) REFERENCES team(id),
    FOREIGN KEY (userid) REFERENCES user(id)
)

In [ ]:
SELECT u.* FROM user u
JOIN score s ON u.id = s.userid
JOIN team t ON s.teamid = t.id
WHERE t.teamName = 'ECNU' AND u.age < 20;

In [ ]:
SELECT team.teamName, COALESCE(SUM(score.score), 0) AS total_score
FROM team
LEFT JOIN score ON team.id = score.teamid
WHERE team.teamName = 'ECNU'